    <div class="opened_link" id="prestaciones" style="background-color: #DDDDDD;">
      <h2 style="display:inline">Procedimientos Quirúrgicos</h2>
      <hr />
      <table>
        <tr>
          <td style="vertical-align:bottom">
              <%= f.label :fonasa_mles, "Procedimientos" %><br />
              <%= text_field_tag :fonasa_mle_ids, nil, :size => 20 %> |
              <%= text_field_tag :fonasa_id %>
          </td>
	      <td style="vertical-align:bottom">
          </td>
        </tr>

      </table>
    </div>

