<p>
  <b>Presupuesto:</b>
  <%=h @seguimiento.presupuesto_id %>
</p>

<p>
  <b>Comentario:</b>
  <%=h @seguimiento.comentario %>
</p>


<%= link_to 'Edit', edit_seguimiento_path(@seguimiento) %> |
<%= link_to 'Back', seguimientos_path %>